:root {
    /* main switch for landing MODE
    if, don't forget to :
    switch the MODE icon too in the html
    switch in the javascript the icon colors
    switch in the css the .icon color*/
    --night-mode-white: 25, 25, 25;
    --night-mode-black: 250, 250, 250;

    /* secondary */
    --light-mode-white: 30, 30, 30;
    --light-mode-black: 245, 245, 245;

    /* others */
    /* --purple: 150, 125, 255;
    --pink: 255, 125, 255; */
    --purple: 0, 74, 173;
    --pink: 23, 182, 234;
}

html,
body,
ul,
li,
a {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    color: rgb(var(--night-mode-black));
}

html::-webkit-scrollbar {
    display: none;
    width: 0;
}

html {
    scrollbar-width: none;
    overflow-x: hidden;
}

html {
    -ms-overflow-style: none;
}

body {
    /* min-height: 200vh; */
    /* padding: 0 10%; */

    /* center all */
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    background-color: rgb(var(--night-mode-white));
}

/* GLOBAL */

.menu {
    display: none;
}

h1 {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 1000;
    color: rgb(var(--night-mode-black));
    font-size: 3em;
}

h2 {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    color: rgb(var(--night-mode-black));
    margin: 0;
}

h3,
.selector,
button {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    color: rgb(var(--night-mode-black));
    margin: 10px 0;
}

h4 {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    color: rgb(var(--night-mode-black));
    margin: 10px 0;
    font-size: xx-large;
}

h6 {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    color: rgb(var(--night-mode-black));
    margin: 0;
}

p {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-size: medium;
    color: rgb(var(--night-mode-black));
    text-align: justify;
}

a>img,
button>img {
    display: flex;
    justify-content: center;
    align-self: center;
    width: 100%;
}

.show {
    position: absolute;
    margin: 5px;
}

.hide {
    display: none;
    position: absolute;
    margin: 5px;
}

.button-solid {
    background: none;
    border: none;
    height: 40px;
    width: 40px;
    margin-right: 5px;
    padding: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: none;
    position: relative;
    display: flex;
    justify-content: center;
}

.button-solid:hover {
    background-color: rgba(var(--night-mode-black), 0.05)
}

.transparent {
    background-color: rgba(var(--night-mode-black), 0.02);
    border: 1px solid rgba(var(--night-mode-black), 0.1);
    border-radius: 20px;
    /* box-shadow: inset 0 0 25px -15px;
    color: rgba(var(--night-mode-black)); */
    backdrop-filter: blur(7px);
    /* padding: 20px 0; */
}

.skills-tag-container {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    gap: 10px;

}

.skills-tag {
    border-radius: 1000px;
    background-color: rgba(var(--night-mode-black), 0.2);
    padding: 5px 15px;
    /* color: rgb(var(--night-mode-white)); */
    font-size: small;
    margin: 0;
}

.icon {
    width: 25px;
    height: 25px;
    filter: brightness(0%) saturate(0%) invert(100%) brightness(98%);
}

/* HEADER */

header {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    position: fixed;
    width: 100%;
    z-index: 100;
}

.header-container {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.selector {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
}

.selector>li {
    /* width: 120px; */
    text-align: center;
}

.selector>li>a:hover {
    border-bottom: 2px solid rgb(var(--night-mode-black));
}

.header-container #me {
    display: block;
    width: 80px;
    padding: 0 10px;
    margin-left: 2%;
    /* margin-right: calc(80px); */
}

.header-container div {
    width: calc(100px *2);
    margin-right: 2%;
    display: flex;
}

/* .header-container button:first-child>img {
    height: 100%;
    width: fit-content;
} */

.header-container button:nth-child(1)>img:nth-child(1) {
    height: 100%;
    width: fit-content;
    filter: invert(23%) sepia(94%) saturate(4532%) hue-rotate(251deg) brightness(100%) contrast(100%);

}

.header-container button:nth-child(1)>img:nth-child(2) {
    filter: invert(65%) sepia(100%) saturate(500%) hue-rotate(1deg) brightness(105%) contrast(105%);
}



.download-cv {
    background-image: linear-gradient(100deg, rgb(var(--purple)), rgb(var(--pink)));
    height: 40px;
    width: fit-content;
    margin-left: 2%;
    padding: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: none;
    color: white;
}

.download-cv:hover {
    filter: brightness(110%);
}

/* hide the menu button dedicated to smarphone */
.button-menu {
    display: none;
}

/* BODY */

body>div {
    padding: 60px 12%;
    width: 76%;
}

/* me */
#about-me {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.text-container {
    width: 50%;
}

.me-container {
    width: 25%;
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
}

.me-container img {
    width: 100%;
    border-radius: 5px;
}

#about-me .about-me-info {
    margin: 48px 0;
}

#about-me .about-me-info li {
    display: flex;
    align-items: center;
}

#about-me li p {
    margin: 7px 0 7px 10px;
    font-size: large;
}

.sonar-marker {
    width: 10px;
    height: 10px;
    background-color: rgba(0, 225, 0);
    border-radius: 100%;
    margin: 0 7px;
    filter: none;
    position: relative;


    &::before,
    &::after {
        content: "";
        width: 100%;
        height: 100%;
        background-color: rgb(0, 225, 0);
        border-radius: 100%;
        z-index: -1;

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        animation: pulse 2s ease-out infinite;
    }

    &::after {
        animation-delay: 1s;
    }
}

@keyframes pulse {
    0% {
        opacity: .3;
        transform: translate(-50%, -50%) scale(0);
    }

    100% {
        opacity: 0;
        transform: translate(-50%, -50%) scale(5);
    }
}

#about-me .about-me-link {
    display: flex;
}

#about-me .about-me-link li {
    gap: 0.1em;
}

.stain1 {
    width: 100%;
    background-image: radial-gradient(rgb(var(--purple)), rgba(0, 0, 0, 0) 70%);
    border-radius: 50%;
    position: absolute;
    rotate: 80deg;
    top: -200px;
    left: 1000px;
    width: 600px;
    height: 1000px;
    overflow: hidden;
    filter: url(#goo) blur(30px);
    opacity: 0.7;
}

.stain2 {
    width: 100%;
    background-image: radial-gradient(rgb(var(--pink)), rgba(0, 0, 0, 0) 70%);
    border-radius: 50%;
    position: absolute;
    rotate: 20deg;
    top: 200px;
    left: 1250px;
    width: 700px;
    height: 400px;
    filter: url(#goo) blur(30px);
    opacity: 0.7;

}

/* skills */

#skills {
    background-color: rgb(var(--light-mode-white));
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skills-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;

}

.skills-container>div {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: small;
    padding: 0 40px;
    width: 80px;
}

.skills-container>div img {
    width: 100%;
    transition: 0.3s;
}

.skills-container>div>img:hover {
    scale: 1.1;
}

/* experiences */

#experiences {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.experiences-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.experience {
    width: 60%;
    padding: 10px 25px;
    margin: 10px 0;
}

.experience>.title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* for education too */
.left {
    display: flex;
    align-items: center;
    position: relative;
}

.left h3 {
    margin: 0;
    margin-left: 10px;
}

.left h6 {
    position: absolute;
    bottom: 3px;
    left: 61px;
}

.company-logo {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

/*  */

.stain3 {
    width: 100%;
    background-image: radial-gradient(rgb(var(--pink)), rgba(0, 0, 0, 0) 70%);
    border-radius: 50%;
    position: absolute;
    rotate: 340deg;
    bottom: 0;
    left: -150px;
    width: 900px;
    height: 400px;
    filter: url(#goo) blur(30px);
    opacity: 0.5;
}

.stain4 {
    width: 100%;
    background-image: radial-gradient(rgb(var(--purple)), rgba(0, 0, 0, 0) 70%);
    border-radius: 50%;
    position: absolute;
    rotate: 10deg;
    top: 0;
    right: -100px;
    width: 900px;
    height: 700px;
    filter: url(#goo) blur(30px);
    opacity: 0.5;

}

/* education */

#education {
    background-color: rgba(var(--light-mode-white));
    display: flex;
    flex-direction: column;
    align-items: center;
}

.educations-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.education {
    width: 50%;
    padding: 30px 25px;
    margin: 0;
    border-bottom: 1px solid rgb(var(--night-mode-black));

    &:last-child {
        border-bottom: none;
    }
}

.education>.title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* project */

#projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.projects-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.project {
    display: flex;
    width: 100%;
    margin: 20px 25px;
    box-shadow: 0 4px 10px;
    color: rgba(var(--night-mode-black), 0.05);
    /* box-shadow: 0 10px 50px -40px; */
    border-radius: 20px;

    border: 1px solid rgba(var(--night-mode-black), 0.2);
}

/* need to modify for switching side for each projects */
.left-project {
    background-color: rgba(var(--light-mode-black), 0.1);
    border-radius: 20px 0 0 20px;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-project>div {
    width: 100%;
    padding: 3rem;
}

.left-project img {
    width: 100%;
    height: auto;
    box-shadow: 0 0 50px -40px;
    border-radius: 20px;
    transition: 0.3s;

}

.left-project img:hover {
    scale: 1.02;
}

.right-project {
    width: 50%;
    border-radius: 0 20px 20px 0;
    background-color: rgba(var(--night-mode-white), 0.7);
}

.right-project>div {
    margin: 3rem;
}

/* end of modify */

.stain5 {
    width: 100%;
    background-image: radial-gradient(rgb(var(--purple)), rgba(0, 0, 0, 0) 70%);
    border-radius: 50%;
    position: absolute;
    rotate: 20deg;
    bottom: -50px;
    left: -50px;
    width: 700px;
    height: 500px;
    filter: url(#goo) blur(30px);
    opacity: 0.7;
}

.stain6 {
    width: 100%;
    background-image: radial-gradient(rgb(var(--pink)), rgba(0, 0, 0, 0) 70%);
    border-radius: 50%;
    position: absolute;
    rotate: 170deg;
    bottom: 0;
    left: 150px;
    width: 400px;
    height: 200px;
    filter: url(#goo) blur(30px);
    opacity: 0.5;
}

.stain7 {
    width: 100%;
    background-image: radial-gradient(rgb(var(--purple)), rgba(0, 0, 0, 0) 70%);
    border-radius: 50%;
    position: absolute;
    rotate: 10deg;
    top: -100px;
    right: -300px;
    width: 1300px;
    height: 1000px;
    filter: url(#goo) blur(30px);
    opacity: 0.5;

}

.stain8 {
    width: 100%;
    background-image: radial-gradient(rgb(var(--pink)), rgba(0, 0, 0, 0) 70%);
    border-radius: 50%;
    position: absolute;
    rotate: 10deg;
    top: -250px;
    right: 300px;
    width: 1100px;
    height: 800px;
    filter: url(#goo) blur(30px);
    opacity: 0.7;

}

/* softskills */

#soft-skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(var(--light-mode-white));
}

.soft-skills-container {
    max-width: 80%;
    margin-top: 20px;
}

.soft-skills-container .skills-tag-container {
    justify-content: center;
}

/* contact */

#contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    background-image: linear-gradient(315deg, rgba(var(--purple), 0.7), rgb(var(--pink), 0.7)70%);
}

.contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px 0;
}

.contact-container .button-solid {
    margin: 0;
    width: 50px;
    height: 50px;
}

.mail,
.phone {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.mail .icon,
.phone .icon {
    height: 40px;
    width: 40px;
}

.copy {
    position: relative;
}

.copied {
    /* position */
    position: absolute;
    white-space: nowrap;
    top: 50%;
    left: 100%;
    transform: translateY(-50%);

    /* font */
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-size: medium;
    color: rgb(var(--night-mode-black));
    text-align: justify;
    opacity: 0;

    /* background style */
    background-color: rgba(var(--night-mode-black), 0.05);
    padding: 5px 20px;
    border-radius: 7px;
    margin-left: 10px;
}

.links {
    display: flex;
}

/* POPUP CV */

/* Fond flouté + noir semi-transparent */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(8px);
    display: none;
    /* caché par défaut */
    justify-content: center;
    align-items: center;
    z-index: 1000;
    padding: 0;
    margin: 0;
}

.popup {
    padding: 2rem;
    position: relative;
    width: 400px;
    max-width: 90%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.popup p {
    text-align: center;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 1.8rem;
    cursor: pointer;
    color: rgb(var(--night-mode-black));
}

.show-popup {
    display: flex;
}

.popup-container {
    display: flex;
    justify-content: center;
}

/* FOOTER */

footer {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.05);
}

/* LAYERS */

.stain1,
.stain2,
.stain3,
.stain4,
.stain5,
.stain6,
.stain7,
.stain8 {
    z-index: -10;
}